@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$veryMuch-pale-blue: hsl(230, 75%, 97%);
$desaturated-blue: hsl(224, 23%, 55%);
$desaturated-blue2: hsl(224, 43%, 85%);
$dark-blue: hsl(223, 47%, 23%);
$height: 100%;
$font-p: 12px;

* {
  font-family: "Red Hat Display", sans-serif;
}

html {
  height: $height;
}

body {
  background-image: url("/assets/pattern-background-desktop.svg");
  background-color: $pale-blue;
  background-repeat: no-repeat;
  background-position: 0% -40%;
  margin: 0;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 340px;
  height: 500px;
  border-radius: 20px;
  background-color: $very-pale-blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 15px 15px 2px $desaturated-blue2;



  #content {
    text-align: center;
    padding: 10px;

    h1 {
      font-size: 20px;
      font-weight: 900;
      margin-top: 15px;
    }
    p {
      font-size: $font-p;
      font-weight: 500;
      color: $desaturated-blue;
      width: 250px;
    }
  }

  #plan {
    display: grid;
    grid-template-columns: 1fr 55px;
    align-items: center;
    width: 270px;
    border-radius: 15px;
    font-size: $font-p;
    background-color: $veryMuch-pale-blue;
    padding: 6px;

    #price-icon {
      display: flex;
      align-items: center;
      margin-left: 15px;
      img {
        width: 20%;
        height: 20%;
        margin-right: 15px;
      }
      p {
        line-height: 8px;
      }
      #annual {
        font-weight: 900;
      }
      #price {
        color: $desaturated-blue;
      }
    }

    a {
      color: $bright-blue;
      font-weight: 900;
    }

    a:hover {
      color: $desaturated-blue;
      text-decoration: none;
    }
  }

  #buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    button {
      width: 270px;
      height: 35px;
      font-size: 12px;
      border-radius: 7px;
      margin: 2px;
      border: 0;
    }

    #btn-payment {
      background-color: $bright-blue;
      color: $very-pale-blue;
      font-weight: 500;
      box-shadow: 0px 10px 5px 0.1px $desaturated-blue2;
    }

    #btn-payment:hover{
        cursor: pointer;
        background-color: $desaturated-blue;
    }

    #btn-cancel{
        background-color: transparent;
        color: $desaturated-blue;
        font-weight: 500;
        margin-top: 10px;
    }

    #btn-cancel:hover{
        cursor: pointer;
        color: $dark-blue;
    }
  }
}

#img-container {
  img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
}

@media only screen and (max-width: 375px){
    #card{
        width: 290px;
        #content{
            padding: 10px;
            p{
                width: 200px;
                line-height: 20px;
                font-size: 13px;
            }
        }

        #plan{
            width: 240px;
            #price-icon{
                margin-left: 6px ;
            }
        }
        #buttons{
            button{
                width: 240px;
                height: 45px;
                font-size: 15px;
                font-weight: 900;
            }
        }
        
    }
    
}
